.carousel {
	height: 600px;
	overflow: hidden;
	width: 800px;
	position: absolute; 	/*All that is here*/
	margin-left: auto; 		/* so the carousel*/
	margin-right: auto; 	/* is centered*/
	left: 0; 				/* in the browser*/
	right: 0; 				/* window*/
}

.content {
	height: 600px;
	position: relative;
	top: -50px; 			/*That is here because I want the NAV not to be above the content but on the top of it*/
	width: 4000px;
}

.nav {
	height: 50px;
	left: 650px;
	position: relative;
	width: 150px;
	z-index: 1;				/*Without this NAV is under the CONTENT*/
}

.slide {
	float: left;
}

.slider_button {
	background-color: #00DDDD;
	display: inline-block;
	height: 20px;
	margin-left: 2px;
	margin-top: 15px;
	width: 20px;
}

.slider_button:first-child {
	background-color: #EE4444;
	margin-left: 10px;
}

.slider_button:hover {
	cursor: pointer;
}